//@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    --f7-navbar-height: 50px;
    --f7-theme-color: #0f62fe;
    //--f7-theme-color-shade: #129474;
    //--f7-theme-color-tint: #008060;*/
    --f7-page-master-width: 400px;
    --f7-page-master-inverted-width: calc(100% - 400px);
    --f7-page-detail-inverted-width: 400px;
    --f7-page-bg-color: #F6F6F7;
    --f7-navbar-bg-color: #fff;
    --f7-navbar-toolbar-bg-color: #fff;
    --f7-panel-width: 400px;
    --f7-panel-transition-duration: 250ms;
    --f7-toolbar-bg-color: #fff;
    --f7-card-header-min-height: 12vh;
    --f7-button-text-transform: none;
    --f7-button-large-text-transform: none;
    --f7-button-font-size: 16px;
    --danger: #da1e28;
    --success: #198038;
    --muted: #8e8e93;
    --swiper-theme-color: #121212;
    --f7-tabbar-link-inactive-color: #5C5F62;
    --f7-toast-padding-vertical: 16px;
    --f7-badge-padding: 0 6px;
    --f7-grid-gap: 15px;
    --f7-tabbar-label-font-weight: 600;
    //--f7-block-strong-border-color: #ededed;
    //--f7-font-family: 'Work Sans', sans-serif;
    --f7-login-screen-content-bg-color: none;
    --f7-card-border-radius: 12px;
    --f7-chip-bg-color: #ffffff;
    --f7-toast-bg-color: #121212;
    --f7-toolbar-font-size: 17px;
    --f7-toolbar-inner-padding-left: 0;
    --f7-toolbar-inner-padding-right: 0;
}
.color-blue {
    --f7-theme-color: #0f62fe;
}
.color-red {
    --f7-theme-color: #da1e28;
}
.color-green {
    --f7-theme-color: #198038;
    --f7-theme-color-rgb: rgb(25 128 56);
    --f7-theme-color-shade: #0d5e25;
    --f7-theme-color-tint: #229244;
}